body {
    width: 75%;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: slategray;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.card-header {
    background: darkgrey;
}

.card-body {
    background: gray;
}

.modal {
    background-color: gray;
    color: black;
    text-shadow: 1px 1px 1px white;
}

header {
    height: 100px;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
}

main h2 {
    font-weight: 300;
}

footer {
    text-align: center;
}